@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans:300,400,700&subset=latin,latin-ext);

body {
  padding:50px;
  color:#444;
}

#wrapper a:visited {
  color: #444;
}

#wrapper {
  font:14px/1.5 "Merriweather Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight:300;
  padding-right: 330px;
}

#wrapper section#projects,
#wrapper section#post,
#wrapper section#posts {
  margin-right: 1%;
  display: inline-block;
  vertical-align: top;
}

#wrapper section#post {
  display: block;
  padding-right: 18px;
}

#wrapper section#post h1 {
  font-size: 28px;
  clear: both;
}

#wrapper section#post .prev-post {
  float: left;
}

#wrapper section#post .next-post {
  float: right;
}

#wrapper section#post .post-nav {
  margin-bottom: 20px;
}

#wrapper section#post .post-content table {
  border-collapse: collapse;
  width: 100%;
}

#wrapper section#post .post-content table thead th {
  background-color: #333;
  color: white;
  vertical-align: bottom;
}

#wrapper section#post .post-content table thead th,
#wrapper section#post .post-content table tbody td {
  border: 1px solid #999;
  padding: 4px;
}

#wrapper section#post .post-content p,
#wrapper section#post .post-content div,
#wrapper section#post .post-content ul,
#wrapper section#post .post-content pre,
#wrapper section#post .post-content blockquote,
#wrapper section#post .post-content .highlight {
  margin-bottom: 14px;
}

#wrapper section#post .post-content h1,
#wrapper section#post .post-content h2,
#wrapper section#post .post-content h3 {
  margin-top: 1em;
}

#wrapper section#post .post-content h2 {
  font-size: 20px;
}

#wrapper section#post .post-content em {
  font-style: italic;
}

#wrapper section#post .post-content blockquote {
  margin: 2em 60px;
  line-height: 1.45;
  position: relative;
  color: #383838;
}

#wrapper section#post .post-content blockquote:before {
  font-family: "Times New Roman", Times, serif;
  display: block;
  content: "\201C";
  font-size: 80px;
  position: absolute;
  left: -40px;
  top: -40px;
  color: #CCC;
}

#wrapper section#post .post-content pre,
#wrapper section#post .post-content .highlight {
  background-color: #EEE;
  border: 1px solid #999;
  padding: 8px;
}

#wrapper section#post .post-content .highlight pre {
  border: 0;
  padding: 0;
  margin: 0;
}

#wrapper section#post .post-content ul,
#wrapper section#post .post-content ol {
  margin-left: 40px
}

#wrapper section#post .post-content ol li,
#wrapper section#post .post-content ul li {
  display: list-item;
  list-style-position: outside;
}

#wrapper section#post .post-content ul li {
  list-style-type: disc;
}

#wrapper section#post .post-content ol li {
  list-style-type: decimal;
}

#wrapper section#projects {
  width: 40%;
}

#wrapper section#posts {
  width: 56%;
}

#wrapper section#posts-all {
  width: 'auto';
  padding-right: 28px;
}

#wrapper section#posts-all .subtitle,
#wrapper section#post .subtitle {
  font-style: italic;
  padding-bottom: 0;
}

#wrapper section section {
  clear: both;
}

#wrapper section h1 {
  font-size: 18px;
  font-weight: 700;
}

#wrapper section#posts h1 {
  padding-left: 87px;
}

#wrapper section dl dd {
  margin-bottom: 14px;
}

#wrapper section dt,
#wrapper section article h2 {
  font-size: 16px;
  font-weight: 400;
}

#wrapper section article h2 {
  padding-left: 87px;
  padding-right: 0;
}

#wrapper section article p {
  padding-bottom: 28px;
  padding-left: 87px;
  padding-right: 0;
}

#wrapper section article p.date {
  float: left;
  width: 63px;
  text-align: center;
  padding-bottom: 28px;
  margin-right: 4px;
  padding-left: 10px;
  padding-right: 10px;
}

header {
  width: 330px;
  padding-right: 58px;
  position: fixed;
  right: 0;
}

#wrapper header h1 {
  font-size: 24px;
}

footer {
  width: 330px;
  padding-right: 58px;
  position: fixed;
  right: 0;
  top: 145px;
  padding-bottom: 58px;
}

#disqus_thread {
  margin-top: 42px;
}

@media print, screen and (max-width: 1024px) {
  #wrapper header h1 {
    font-size: 20px;
  }

  #wrapper {
    font-weight:300;
    padding-right: 0;
  }

  header {
    width: auto;
    padding-right: 0;
    position: static;
    right: 0;
  }

  footer {
    width: auto;
    padding-right: 0;
    position: static;
    right: 0;
    bottom: 0;
    padding-bottom: 0;
  }
}

@media print, screen and (max-width: 768px) {
  #wrapper header h1 {
    font-size: 20px;
  }

  body {
    word-wrap:break-word;
  }

  #wrapper {
    font-weight:300;
    padding-right: 0;
  }

  header {
    width: auto;
    padding-right: 0;
    position: static;
    right: 0;
  }

  footer {
    width: auto;
    padding-right: 0;
    position: static;
    right: 0;
    bottom: 0;
    padding-bottom: 0;
  }
}

@media print, screen and (max-width: 640px) {
  #wrapper header h1 {
    font-size: 20px;
  }

  body {
    padding:15px;
  }

  #wrapper {
    padding-right: 0;
  }

  #wrapper section#projects {
    width: 320px;
    position: absolute;
    left: -320px;
    top: 0;
  }

  #wrapper section#posts {
    width: auto;
    display: block;
    vertical-align: baseline;
  }

  header, footer {
    position: static;
    padding-right: 0;
    width: auto;
    padding-bottom: 0;
  }

  #disqus_thread {
    display: none;
  }
}

@media print {
  body {
    padding:0.4in;
    font-size:12pt;
    color:#444;
  }

  #disqus_thread {
    display: none;
  }
}

