body {
	font-family: Georgia;
}

h1, h2, h3, h4 {
	font-family: Verdana;
}

h1 {
	font-size: 153.9%;
}

h2 {
	font-size: 138.5%;
}

p, div.highlight {
	margin-bottom: 10px;
}

pre {
	font-family: Monaco;
}

.main {
	margin: auto;
	width: 910px;
}

.main p {
	clear: both;
	font-size: 123.1%;
}

.highlight {
	margin-right: 10px;
	background-color: #111;
	float: left;
	color: white;
}

.highlight pre {
	padding: 0.5em 1em 0 1em;
}

.k {
	color: tan;
}

.nc {
	color: orange;
}

.nb {
	color: salmon;
}

.nf {
	color: yellow;
}

.bp {
	color: thistle;
}

.s {
	color: green;
}

.c {
	color: gray;
}

.main .top li
{
	display: inline;
	list-style-type: none;
	padding-right: 20px;
}

.post-summary h2 {
	margin-bottom: 0;
}

.post-summary .date {
	font-size: 77%;
}

#dsq-pagination, #dsq-account-dropdown {
	display: none;
}