body {
	font-family: Verdana;
}

h1, h2, h3, h4 {
	font-family: Verdana;
}

h1 {
	font-size: 153.9%;
}

h2 {
	font-size: 138.5%;
}

h3 {
	font-size: 123.1%;
}

h2 a {
	text-decoration: none;
}

h2 a:visited {
	text-decoration: none;
	color: #340f56;
}

p, dt, dd, .content>ul li, .content>ol li {
	font-size: 108%;
}

.content>ul li p,
.content>ul li dt,
.content>ul li code,
.content>ul li li,
.content>ul li dd,
.content>ol li p,
.content>ol li dt,
.content>ol li code,
.content>ol li li,
.content>ol li dd {
	font-size: 100%;
}

nav.post-nav {
  height: 18px;
}

p, div.highlight {
	margin-bottom: .75em;
}

pre, code {
	font-family: Monaco, Consolas, monospace;
}

.main {
	margin: auto;
	width: 910px;
}

.main .content,
.main .content p {
	clear: both;
}

.highlight {
	margin-right: 10px;
	background-color: #111;
	float: left;
	color: white;
	max-width: 606px;
	overflow: auto;
}

.highlight pre {
	padding: 0.5em 1em 0 1em;
	font-size: 100%;
}

.highlight pre code {
	line-height: 130%;
}

.k, .kt {
	color: tan;
}

.nc {
	color: orange;
}

.nb {
	color: salmon;
}

.nf {
	color: yellow;
}

.bp {
	color: thistle;
}

.s {
	color: green;
}

.nt {
	color: orange;
}

.n {
	color: thistle;
}

.na {
	color: salmon;
}

.c, .c1, .c2 {
	color: gray;
}

.main .top li
{
	display: inline;
	list-style-type: none;
	padding-right: 20px;
}

.post-summary h2 {
	margin-bottom: 0;
  padding: 0 8px 0 8px;
}

.post-summary .date {
  font-size: 77%;
  padding: 0 8px 0 8px;
  font-weight: bold;
}

.post-summary p {
  padding: 0 8px 0 8px;
}

#dsq-pagination, #dsq-account-dropdown {
	display: none;
}

.disqus-spacer {
	margin-bottom: 24px;
}

.prev-post {
  float: left;
}

.next-post {
  float: right;
}

.title {
	text-decoration: underline;
}

nav.side h2,
nav.side article.post-summary,
nav.side p,
nav.side footer {
	padding-left: 30px;
}

nav.side article.post-summary {
	margin-bottom: .75em;
}

nav.side article.post-summary a {
	text-decoration: none;
}

nav.side footer {
	text-align: left;
}

.main footer {
	font-size: 77%;
	text-align: center;
}

.foreign-lang {
	font-style: italic;
}

nav.side footer p {
	padding-left: 0;
	font-size: 100%;
}

footer.bottom {
	margin-top: 20px;
}

.nowrap {
	white-space: nowrap;
}