body {
	font-family: Verdana;
}

h1, h2, h3, h4 {
	font-family: Verdana;
}

h1 {
	font-size: 153.9%;
}

h2 {
	font-size: 138.5%;
}

h2 a {
	text-decoration: none;
}

h2 a:visited {
	text-decoration: none;
	color: #340f56;
}

p {
	font-size: 108%;
}

nav.post-nav {
  height: 18px;
}

p, div.highlight {
	margin-bottom: 10px;
}

pre, code {
	font-family: Monaco, Consolas, monospace;
}

.main {
	margin: auto;
	width: 910px;
}

.main .content,
.main .content p {
	clear: both;
}

.highlight {
	margin-right: 10px;
	background-color: #111;
	float: left;
	color: white;
}

.highlight pre {
	padding: 0.5em 1em 0 1em;
	font-size: 100%;
}

.highlight pre code {
	line-height: 130%;
}

.k {
	color: tan;
}

.nc {
	color: orange;
}

.nb {
	color: salmon;
}

.nf {
	color: yellow;
}

.bp {
	color: thistle;
}

.s {
	color: green;
}

.c {
	color: gray;
}

.main .top li
{
	display: inline;
	list-style-type: none;
	padding-right: 20px;
}

.post-summary h2 {
	margin-bottom: 0;
  padding: 0 8px 0 8px;
}

.post-summary .date {
	font-size: 77%;
  padding: 0 8px 0 8px;
  font-weight: bold;
}

.post-summary p {
  padding: 0 8px 0 8px;
}

#dsq-pagination, #dsq-account-dropdown {
	display: none;
}

.disqus-spacer {
	margin-bottom: 24px;
}

.prev-post {
  float: left;
}

.next-post {
  float: right;
}
