---
---
<!doctype html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link type="application/atom+xml" rel="alternate" href="atom.xml"/>
    <link rel="stylesheet" href="/css/cssreset-min.css">
    <link rel="stylesheet" href="/css/cssfonts-min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/pygment_trac.css">
    <!--[if lt IE 9]>
    <script src="/scripts/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>curtis@schlak.com</h1>
        <nav>
          <ul>
            <li><a href="/">Head back <strong>Home</strong></a></li>
            <li><a href="/atom.xml">Subscribe to <strong>Atom</strong></a></li>
            <li><a href="http://curtis.schlak.com/grijq">Explore <strong>grijq</strong></a></li>
          </ul>
        </nav>
      </header>
      <section>
				<nav class="post-nav"> 
					<div class="prev-post"> 
						{% if page.previous.url %} 
							<a rel="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a> 
						{% endif %} 
					</div> 
					<div class="next-post"> 
						{% if page.next.url %} 
							<a rel="next" href="{{page.next.url}}">{{page.next.title}} &raquo; </a> 
						{% endif %} 
					</div> 
				</nav> 
        {{ content }}
      </section>
      <section>
      	<div id="disqus_thread"></div>
      </section>
      {% include copyright.html %}
    </div>
    <script src="/scripts/scale.fix.js"></script>
    <script type="text/javascript">
      var developer = location.href.indexOf('curtis.schlak.com') == -1 || location.href.indexOf('/drafts/') > -1;
      if(!developer) {
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-28706752-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      }
	    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
	    var disqus_shortname = 'curtisschlaksblog'; // required: replace example with your forum shortname
	    var disqus_developer = location.href.indexOf('curtis.schlak.com') == -1 || location.href.indexOf('/drafts/') > -1;
	    var disqus_title = '{{ page.title | replace:'&#39;','' }}';
	    var disqus_identifier = '{{ page.url }}';

	    /* * * DON'T EDIT BELOW THIS LINE * * */
	    (function() {
	    	if(!disqus_developer) {
		        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
		        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	    	} else {
	    		document.getElementById("disqus_thread").innerHTML = disqus_title;
	    	}
	    })();
    </script>
  </body>
</html>
